<header>
  <nav>
    <ul>
      <li></li>
      <li>
        <a href="javascript:void(0);" routerLink="about" routerLinkActive="active">loja</a>
      </li>
      <li>
        <a href="javascript:void(0);" routerLink="about" routerLinkActive="active">notícias</a>
      </li>
      <li>
        <a href="javascript:void(0);" routerLink="about" routerLinkActive="active">perguntas frequentes</a>
      </li>
      <li>
        <a href="javascript:void(0);" routerLink="about" routerLinkActive="active">ajuda</a>
      </li>
      <li>
        <a href="javascript:void(0);" routerLink="about" routerLinkActive="active">unreal engine</a>
      </li>
    </ul>

    <ul>
      <li></li>
      <li>
        <a href="javascript:void(0);" routerLink="about" routerLinkActive="active">sign in</a>
      </li>
      <li>
        <a href="javascript:void(0);" routerLink="about" routerLinkActive="active">baixar epic games</a>
      </li>
    </ul>
  </nav>
</header>
