<header>
  <nav>
    <ul>
      <li></li>
      <li>
        <a href="javascript:void(0);" [routerLink]="['/pages/home/about']" routerLinkActive="active">{{ 'label.loja' | translate }}</a>
      </li>
      <li>
        <a href="javascript:void(0);">{{ 'label.noticias' | translate }}</a>
      </li>
      <li>
        <a href="javascript:void(0);">{{ 'label.perguntas_frequentes' | translate }}</a>
      </li>
      <li>
        <a href="javascript:void(0);">{{ 'label.ajuda' | translate }}</a>
      </li>
      <li>
        <a href="javascript:void(0);">{{ 'label.unreal_engine' | translate }}</a>
      </li>
    </ul>

    <ul>
      <li></li>
      <li>
        <a href="javascript:void(0);">{{ 'label.logar' | translate }}</a>
      </li>
      <li>
        <a href="javascript:void(0);">{{ 'label.baixar_epic_games' | translate }}</a>
      </li>
    </ul>
  </nav>
</header>
